
.Page_foot
{
	width: 100%;
	border: 0px dotted;
}
.Page_foot .Page_footL
{
	width: 12px;
	background-image: url(../imagesa/Page_footL_g.gif);
	height: 35px;
}

.Page_foot .Page_footM
{
	/*width: 100%;*/
	background-image: url(../imagesa/Page_footM_g.gif);
	height: 35px;
	text-align: center;
	background-repeat: repeat-x;
}
.Page_foot .Cont_foot
{
	text-align: center;
	width: 100%;
	padding-top: 5px;
}
.Page_foot .Page_footR
{
	width: 12px;
	background-image: url(../imagesa/Page_footR_g.gif);
	height: 35px;
}

.Page_foot .Cont_foot .Cont_font
{
	font-size: 12px;
	color: #FFFFFF;
}
.Page_foot .Cont_foot .Cont_font_M
{
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
}
.Page_foot .Cont_foot .Page_foot_font_M
{
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
}
