/* PHP2CSS */
div#tab ul
{
	margin: 5px 0px 0px 1px;
	height: 24px;
	line-height: 24px;
	list-style: none;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
	display: block;
	overflow: visible;
}

div#tab ul li
{
	background: url(../images/tab.png) no-repeat  ;
	height: 24px;
	text-align: center;
	display: inline;
	float: left;
}
div#tab ul .unTagClick {
    background-position: left 0px;
    border-bottom: 1px solid #000000;
}

div#tab ul .onTagClick {
    background-position: left -50px;
    border-bottom: 0;
}
div#tab ul .unTagClickHover
{
    background-position: left -50px;
    border-bottom: 1px solid #000000;
}
div#tab ul .unTagClick a,div#tab ul .unTagClickHover a, div#tab ul .unTagClick span
{
	display: block;
	padding: 0 14px 0  14px;
	margin-right: 0px;
	background: transparent url(../images/tab.png) no-repeat right -100px;
	color: #27537a;
	cursor: pointer;
	float: left;
}


div#tab ul .onTagClick a, div#tab ul .onTagClick span {
    cursor: pointer;
    display: block;
    padding: 0 14px 0 14px;
    margin: 0 0px 0 0;
    background: transparent url( '../images/tab.png' ) no-repeat right -150px;
    color: #000;
        float: left;
}

div#tab ul .onTagClick span font {
    background-color: yellow;
}

div#tab ul .onTagClick span font, div#tab ul .unTagClick span font {
    font-size: 12px;
}

div#tab ul li#space
{
	background: transparent url();
	float: left;
	height: 24px;
	padding: 0;
	border-bottom: 1px solid #000000;
	display: block;

}
div#tab ul li#space span
{
	display: block;
	width: 90%;
	float: right;
	margin-left: 0px;
	margin-right: 0px;
	
	min-width:150px;
}
 